name: Pipeline for gomodinfo

on:
  pull_request:
  push:
    branches: [main, dev]

jobs:
  tests:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: v1.25.3
          cache-dependency-path: ${{ github.action_path }}/go.sum
          cache: true

      - name: Dependencies
        working-directory: ./
        run: go mod tidy

      - name: Linter
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.5

      - uses: gwatts/go-coverage-action@v2
        id: coverage
        with:
          cover-pkg: ./...
          cover-mode: count
